body{
    font-family:arial, sans-serif;
    background-color:#bdbcbc;
    padding:0px;
    margin:0px;
}
h1{
    background-color:#004b23;
    height:40px;
    color:#ccff33;
    margin:0px;
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    top:0px;
}
.image{
    margin:10px;
    border:1px solid rgba(197, 195, 195, 0.89);
    background-color: #ffffff;
    color:#03071e;
    border:2px solid white;
    border-radius:4px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.list{
    margin:10px;
    border:1px solid rgba(197, 195, 195, 0.89);
    background-color: #ffffff;
    color:#03071e;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    border:2px solid white;
    border-radius:4px;
}
footer{
    background-color:#004b23;
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    color:#ccff33;
    position:relative;
    bottom:0px;
}
img{
    margin-left: 20px;
    margin-top:20px;
    border: 2px solid white;
    border-radius:4px;
    display:block;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
img:active{
    transform:scale(1.022);
}
h2{
    padding-left:14px;
    display:inline-block;
    margin:6px;
}
p{
    padding-left:12px;
    margin:8px;
}
h2:active{
    transform:scale(1.022);
    color:#9d0208;
}
ul{
    margin:6px;

}


